@charset 'utf-8';

body {
    margin-bottom: 60px;
    margin-top: 60px;
}
/* ヘッダー */
.header-wrap {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: #001900;
    height: 60px;
    z-index: 999;
}
.left-border {
    position: fixed;
    left: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}

.right-border {
    position: fixed;
    right: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}
.header h1 {
    position: fixed;

    left: 5%;
    top: 12px;
}
.header img {
    width: 72px;
}

.header nav {
    display: block;
    /* position: absolute; */
    width: 560px;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
}
nav .menu-title {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .menu-title li {
    margin: 0;
    color: black;
    border-bottom: 1px solid #666666;
}

nav .menu-title li a {
    display: block;
    text-decoration: none;
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

nav .menu-title span {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
}
.toggle-btn {
    display: block;
    position: fixed;
    top: 12px;
    right: 5%;
    width: 32px;
    height: 32px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 32px;
    /* background-color: #001900; */
    border-bottom: 6px dotted #fff;
    /* background-image: linear-gradient(to right, #fff 80%, #001900 80%);
    background-size: 10px 5px;
    background-repeat: repeat-3;
    background-position: center; */
}

.toggle-btn span:nth-child(1) {
    top: 3px;
}
.toggle-btn span:nth-child(2) {
    top: 16px;
}
.toggle-btn span:nth-child(3) {
    top: 29px;
}
/* メインビジュアル両サイド */
.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e5e8e5;
}

.left-block,
.right-block {
    width: 3%;
    min-height: 100vh;
    position: relative;

    z-index: 999;
}

.left-block {
    position: fixed;
    left: 0;
    border-right: 1px solid #001900;

    display: grid;
    place-items: center;
}
.right-block {
    position: fixed;
    right: 0;
    border-left: 1px solid #001900;
    display: grid;
    place-items: center;
}

.sns {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

.right-block p {
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* align-items: center; */

    /* text-orientation: sideways; */
}

.right-block img {
    width: 21px;
}
.back-to {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.back-yazirusi {
    display: inline-flex;
    transform: rotate(270deg);
}

.back-yazirusi:after {
    content: "";
    width: 15px;
    height: 3px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
}
.left-block p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* text-orientation: sideways; */
    font-size: 12px;
    letter-spacing: 0.2em;
}
/* メインビジュアル */

#main {
    background-color: #e5e8e5;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-title {
    position: absolute;
    top: 11vw;
    left: 18vw;
}
.subtitle {
    position: absolute;
    top: 34vw;
    left: 30vw;
}

.homi-is {
    position: absolute;
    top: 48vw;
    left: 21vw;
}

/* .main-leftblock {
    position: absolute;
    top: 88px;
    left: 18%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    transform: translate(-35%); */
/* } */
/* .main-rightblock {
    position: absolute;
    right: 21%;
    top: 333px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
/* align-items: flex-start; */
/* } */
/* */
.main-flower {
    width: 23vw;
    position: absolute;
    top: 20vw;
    left: 49.12152269399707vw;
    z-index: 20;
}
.main h1 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.4vw;
    letter-spacing: -0.06em;
    line-height: 0.7;
    z-index: 30;
}
/* .main-title {
    position: absolute;
    top: 13%;
    left: 18%;
} */
.main h1 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14.4vw;
    z-index: 30;
}

.main h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 5.86vw;
    line-height: 0.98;
    letter-spacing: 0.1em;
}
/* .subtitle {
    position: absolute;
    top: 55%;
    left: 30%;
} */
.message p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.8784773060029283vw;
    line-height: 1.5;
    letter-spacing: 0.2em;
    /* position: absolute;
    bottom: 14%;
    left: 20%; */
}

.sub-menu {
    display: inline-block;
    position: absolute;
    right: 20.937042459736457vw;
    top: 24.15812591508053vw;
}
.sub-menu li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.171303074670571vw;
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-align: left;
}
.since h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16.1vw;
    letter-spacing: 0.03em;
    position: absolute;
    right: 20.937042459736457vw;
    top: 40.478770131771594vw;
    z-index: 3;
}

/* コンセプト */

.concept {
    display: flex;
    height: 100vh;
}

.concept-words {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 53%;
    padding-top: 15%;
    padding-bottom: 15%;
}
.concept-flower {
    position: relative;
    width: 414px;
}
.concept-flower img {
    position: absolute;
    bottom: -50px;
}
.concept-words h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    letter-spacing: -0.045em;
    text-align: end;
}

.concept-words h3 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 80px;
}
.concept-text {
    padding: 11% 0 11% 0;
    /* width: 60%; */
}

.concept-words p {
    font-size: 16px;
}
.viewmore {
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    text-align: end;
}
.viewmore-btn {
    width: 78%;
    border-bottom: solid 1px #999c99;
}

.yazirusi {
    display: flex;
}
.yazirusi::after {
    content: "";
    width: 15px;
    height: 3px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
}

/* ワークス */

#works {
    background-color: #001900;
    position: relative;
}

#works h2 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 212px;
    letter-spacing: -0.06em;
    line-height: 0.7;
    color: #fff;
    padding: 12% 12%;
}
#works h2 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 212px;
}
#works h4 {
    color: #fff;
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05em;
    margin: 20px 0 20px 0;
}
#works p {
    color: #fff;
}
#works img {
    max-width: 500px;
}
.works-container {
    margin: 0 auto;
}
.worksbox {
    display: flex;
    width: 500px;
}
.number {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    letter-spacing: 0.03em;
}
.detail {
    font-size: 16px;
}

/* サービス */
#services {
    background-color: #e6e8e6;
}

.services-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}
.services-text {
    display: grid;
    place-items: center;
    padding: 15% 0 15% 0;
    width: 40%;
}
#services h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    letter-spacing: -0.045em;
}

#services p {
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
}

.services-detail {
    padding: 11% 0 11% 0;
}
.tool {
    color: #4d5a4d;
}
.img-left {
    position: absolute;
    left: -140px;
    top: 50%;
    transform: translate(0, -50%);
}
.img-right {
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translate(0, -50%);
}

/* コンタクト */
#contact {
    background-color: #001900;
}

.contact-wrap {
    display: flex;
    padding: 3% 0 3% 0;
    gap: 20px;
    place-items: center;
    flex-direction: column;
}
.contact-wrap h5 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    letter-spacing: -0.05em;
    color: #fff;
}
.mail-border {
    border-bottom: solid 1px #fff;
}
.toiawase {
    font-size: 16px;
    color: #999c99;
}
.copy {
    font-size: 16px;
    color: #999999;
}

/* フッター */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001900;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-list {
    display: flex;

    gap: 47px;
}
.footer-menu ul li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #fff;
}

.footer-left {
    position: fixed;
    left: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}

.footer-right {
    position: fixed;
    right: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}
