@charset 'utf-8';
/* ヘッダー */
.header {
    background-color: #001900;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    padding-left: 4%;
    padding-top: 3px;
    width: 60%;
}
.header-left,
.header-right {
    height: 100%;
    border-right: 1px solid #fff;
}

.header-left {
    margin-left: 3%;
}
.header-right {
    margin-right: 3%;
}
.header nav {
    display: block;
    position: absolute;
    /* background-color: #001900; */

    top: 0;
    /* left: 0; */
    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
    /* opacity: 0; */
}
nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .inner ul li {
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* メインビジュアル */
.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e5e8e5;
}

.left-block,
.right-block {
    width: 3%;
    min-height: 100vh;
    position: relative;
}

.left-block {
    border-right: 1px solid #001900;
    display: grid;
    place-items: center;
}
.right-block {
    border-left: 1px solid #001900;
    display: grid;
    place-items: center;
}
.right-block p {
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    /* text-orientation: sideways; */
}
.left-block p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* text-orientation: sideways; */
    font-size: 12px;
    letter-spacing: 0.2em;
}

.main h1 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 196px;
    letter-spacing: -0.06em;
    line-height: 0.7;
}
.main h1 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 196px;
}

.main h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    line-height: 0.98;
    letter-spacing: 0.1em;
}
.message p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2em;
}
.sub-menu li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
}
.since h1 {
    font-family: "ltc-nicholas-cochin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 220px;
    letter-spacing: 0.03em;
}
