@charset 'utf-8';

body {
    margin-bottom: 60px;
    margin-top: 60px;
}
/* ヘッダー */
.header-wrap {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: #001900;
    height: 60px;
    z-index: 999;
}
.left-border {
    position: fixed;
    left: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}

.right-border {
    position: fixed;
    right: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}
.logo-text {
    color: #fff;
    position: fixed;

    left: 5%;
    top: 9px;

    font-family: "cormorant-garamond", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -0.04em;
}

.logo-text span {
    font-size: 20px;
    position: relative;
    top: -12px;
}

/* ーーーーーーデモ用ナビーーーーーーー */

/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: #001900;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}

/*リストのレイアウト設定*/

#g-nav ul li .area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#g-nav ul li:nth-child(even) .area {
    flex-direction: row-reverse;
}
#g-nav li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #666666;

    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
}

#g-nav .nav-number {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
    position: relative;
    bottom: 65px;
    padding: 1%;
}
#g-nav .italic {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 120px;
    letter-spacing: -0.04em;
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* ーーーーーー使う予定のナビーーーーーー */

.header nav {
    display: block;
    /* position: absolute; */
    width: 560px;
    top: 0;

    bottom: 0;
    transition: all 0.5s;
    z-index: 3;
}

.toggle-btn {
    display: block;
    position: fixed;
    top: 12px;
    right: 5%;
    width: 32px;
    height: 32px;
    z-index: 3;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 32px;
    /* background-color: #001900; */
    border-bottom: 6px dotted #fff;
    /* background-image: linear-gradient(to right, #fff 80%, #001900 80%);
    background-size: 10px 5px;
    background-repeat: repeat-3;
    background-position: center; */
}

.toggle-btn span:nth-child(1) {
    top: 3px;
}
.toggle-btn span:nth-child(2) {
    top: 16px;
}
.toggle-btn span:nth-child(3) {
    top: 29px;
}
/* メインビジュアル両サイド */
.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e5e8e5;
}

.left-block,
.right-block {
    width: 3%;
    min-height: 100vh;
    position: relative;

    z-index: 100;
}

.left-block {
    position: fixed;
    left: 0;
    border-right: 1px solid #001900;

    display: grid;
    place-items: center;
}
.right-block {
    position: fixed;
    right: 0;
    border-left: 1px solid #001900;
    display: grid;
    place-items: center;
}

.sns {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

.right-block p {
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* align-items: center; */

    /* text-orientation: sideways; */
}

.right-block img {
    width: 23%;
}
.back-to {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.back-yazirusi {
    display: inline-flex;
    transform: rotate(270deg);
}

.back-yazirusi:after {
    content: "";
    width: 15px;
    height: 3px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
}
.left-block p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* text-orientation: sideways; */
    font-size: 12px;
    letter-spacing: 0.2em;
}

/* midnight */

* {
    margin: 0;
    padding: 0;
}
html,
body,
section {
    width: 100%;
    height: 100%;
}
#fixed-text,
.midnightInner {
    height: 100%;
}
.midnightInner {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*スクロールした時に色、フォントが変わる start*/
.blue {
    color: #222;
    background: #79dae8;
}
.black {
    color: #fff;
    background: #222;
}
.white {
    color: #000;
    background: #fff;
    font-family: "Lato", "NotoSansB", sans-serif; /*フォント変更*/
}
/*スクロールした時に色、フォントが変わる end*/

/* メインビジュアル */

#main {
    background-color: #e5e8e5;
}
.main {
    width: 100%;
    height: 100vh;
}
.main-wrap {
    width: 63%;
    aspect-ratio: 1 / 0.7;
    position: relative;

    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}
.F {
    padding-left: 5%;
    font-style: normal;
}
.main-title {
    position: absolute;

    z-index: 100;
}

.subtitle {
    position: absolute;
    bottom: 20%;
    left: 14%;
}

.homi-is {
    position: absolute;
    bottom: 8%;
    left: 4%;
}

.main-flower {
    position: absolute;
    width: 22vw;

    z-index: 20;
    right: 11vw;
    bottom: 0;
}
.main h1 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14vw;
    letter-spacing: -0.06em;
    line-height: 0.7;
    z-index: 30;
}

.main h1 .O {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;

    z-index: 30;
}

.main h2 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    /* font-size: 5rem; */

    font-size: 6vw;
    line-height: 0.98;
    letter-spacing: 0.1em;
}

.message p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.9vw;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

.sub-menu {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 37%;
}
.sub-menu li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2vw;
    line-height: 1.5;
    letter-spacing: 0.2em;
    text-align: left;
}
.since h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16vw;
    letter-spacing: -0.03em;
    position: absolute;
    bottom: 8%;
    right: 0;
    z-index: 3;
}

/* コンセプト */

.concept {
    display: flex;
    height: 617px;
}

.concept-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 53%;
}

.concept-flower img {
    position: relative;
    bottom: 150px;
    height: 132%;
}
.concept-words h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    letter-spacing: -0.045em;
    text-align: end;
}

.concept-words h3 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 80px;
}
.concept-text {
    padding: 11% 0 11% 0;
    line-height: 1.75;
    font-size: 16px;
    /* width: 60%; */
}

.viewmore {
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;

    font-size: 25px;
}
.viewmore-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 207px;
    gap: 25px;
}

.concept-border {
    width: 78%;
    border-bottom: solid 1px #999c99;
    padding-top: 2%;
}
.yazirusi {
    display: flex;
}
.yazirusi::after {
    content: "";
    width: 15px;
    height: 3px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
}

/* ワークス */

#works {
    background-color: #001900;
    position: relative;
}

#works h2 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 212px;
    letter-spacing: -0.06em;
    line-height: 0.7;
    color: #fff;
    padding: 12% 12%;
}
#works h2 span {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 212px;
}
#works h4 {
    color: #fff;
    font-family: "cormorant-garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.05em;
    margin: 20px 0 20px 0;
}
#works p {
    color: #fff;
}

.works-container {
    margin: 0 auto;
}
.worksbox {
    display: flex;
    width: 500px;
}
.number {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 0.03em;
    padding-right: 2%;
}
.detail {
    font-size: 16px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.works-btn {
    position: relative;
    left: 20px;
    padding-top: 10%;
    padding-bottom: 12%;
    width: 50%;
    margin: 0 auto;
}

.viewworks-btn {
    align-items: center;
    width: 100%;
    gap: 25px;
    display: flex;
    justify-content: right;
}

.works-border {
    border-bottom: solid 1px #999c99;
    padding-top: 2%;
}
/* サービス */
#services {
    background-color: #e6e8e6;
}

.services-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}
.services-text {
    display: grid;
    place-items: center;
    padding: 15% 0 15% 0;
    width: 40%;
}
#services h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    letter-spacing: -0.045em;
}

#services p {
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
}

.services-detail {
    padding: 11% 0 11% 0;
}
.tool {
    color: #4d5a4d;
}
.img-left {
    position: absolute;
    left: -140px;
    top: 50%;
    transform: translate(0, -50%);
}
.img-right {
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translate(0, -50%);
}

/* コンタクト */
#contact {
    background-color: #001900;
}

.contact-wrap {
    display: flex;
    padding: 10% 0 10% 0;
    gap: 20px;
    place-items: center;
    flex-direction: column;
}
.contact-wrap h5 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    letter-spacing: -0.05em;
    color: #fff;
}
.mail-border {
    border-bottom: solid 1px #fff;
}
.toiawase {
    font-size: 16px;
    color: #999c99;
}
.copy {
    font-size: 16px;
    color: #999999;
}

/* フッター */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001900;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.menu-list {
    display: flex;

    gap: 47px;
}
.footer-menu ul li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #fff;
}

.footer-left {
    position: fixed;
    left: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
    z-index: 9999;
}

.footer-right {
    position: fixed;
    right: 3%; /*横位置の指定*/
    background: #fff; /*線の色指定*/
    width: 1px; /*線の幅指定*/
    height: 60px; /*線の高さ指定*/
}

.slick-prev:before,
.slick-next:before {
    color: #fff !important;
}

.works-slider {
    margin: 0 auto;
}
.slider-box {
    opacity: 0.4;
    transition: all 300ms ease;
}

.slider-box.slick-center {
    color: #fff;
    opacity: 1;
    transform: scale(1);
}
.slider-box {
    /* color: #fff; */

    transform: scale(0.8);
}
