@charset 'utf-8';
#works_1_top h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.5rem;
    letter-spacing: -0.06;
    text-align: center;
    padding: 12% 0 3% 0;
    color: #b3b5b3;
}
#works_1_top h3 span {
    font-style: italic;
    /* letter-spacing: -0.06; */
}
.img_mockups {
    width: 68vw;
    margin: 0 auto;
    padding-bottom: 3%;
}
.explain {
    width: 59%;
    margin: 0 auto;
}
.skill {
    color: #4d4d4d;
}
.works-title {
    font-size: 1.688em;
}
.sub-span {
    font-size: 1.25em;
}

.title {
    padding-bottom: 4%;
}
.gaiyou {
    padding-bottom: 7%;
}
.gaiyou p {
    line-height: 1.75;
}
.border {
    background-size: 6px 1px;
    background-image: linear-gradient(to right, #4d4d4d 1px, transparent 1px);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 2%;
}

table {
    padding-top: 8%;
}
th {
    width: 15%;
    vertical-align: baseline;
    text-align: left;
    line-height: 1.75;
}
td {
    width: 85%;

    line-height: 1.75;
    padding-bottom: 4%;
}
.all {
    display: flex;
    justify-content: center;
    gap: 7%;
    padding-top: 7.61%;
}
.pc {
    width: 51%;
}
.sp {
    width: 15%;
    padding-top: 1%;
}
