@charset 'utf-8';

.kakuu {
    font-size: 12px;
}
#top {
    margin: 0 auto;
}
#top h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.5rem;
    letter-spacing: -0.06;
    text-align: center;
    padding: 12% 0 3% 0;
}

#top h3 span {
    font-style: italic;
}
.nav {
    width: 32vw;
}
.filter {
    /* width: 32vw; */
    width: fit-content;
    margin: 0 auto;
    border: solid 1px #cccecc;
    border-radius: 50px;
    margin-bottom: 8%;
}
.gnavi li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
}

.gnavi li.current a,
.gnavi li a:hover {
    color: #001900;
}

.gnavi li a::after {
    content: "";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 5%;
    /*線の形状*/
    width: 90%;
    height: 1px;
    background: #001900;
    /*アニメーションの指定*/
    transition: all 0.3s;
    transform: scale(0, 1); /*X方向0、Y方向1*/
    transform-origin: left top; /*左上基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1); /*X方向にスケール拡大*/
}
.filter ul li {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    white-space: nowrap;
    /* padding: 12% 12%; */
}
.filter p {
    color: #b3b3b3;
    font-size: 1rem;
}
.filter ul {
    display: flex;
    gap: 1.2vw;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.border {
    background-size: 6px 1px;
    background-image: linear-gradient(to right, #4d4d4d 1px, transparent 1px);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 2%;
}

/*　画像の拡大＋テキスト出現　*/

.zoomInText span.mask {
    position: relative;
    transition: 0.3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
    display: block; /*画像をくくるspanタグをブロック要素にする*/
    line-height: 0; /*行の高さを0にする*/
    overflow: hidden; /*拡大してはみ出る要素を隠す*/
}

.zoomInText:hover span.mask::before {
    /*hoverした時の変化*/
    content: "";
    position: absolute;
    z-index: 2;
}

.zoomInText img {
    transform: scale(1);
    filter: blur(0);
    transition: 0.3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoomInText:hover img {
    /*hoverした時の変化*/
    transform: scale(1.08); /*拡大の値を変更したい場合はこの数値を変更*/
}

.wrap {
    margin: 0 auto;
    width: 73vw;
}
.jenre h5 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5625rem;
    padding-top: 10%;
}

.jenre {
    padding-bottom: 2vw;
}
.container {
    display: flex;
    gap: 5%;

    flex-wrap: wrap;
}
.box {
    padding-bottom: 10%;
}
.img {
    width: 280px;
    margin-bottom: 5%;
}
.title {
    font-size: 1rem;
}
.container ul li {
    padding-bottom: 3%;
}

.skill {
    color: #4d4d4d;
    font-size: 0.875rem;
}

#Banner {
    padding-bottom: 20%;
}
/* フッター */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #001900;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.menu-list {
    display: flex;

    gap: 47px;
}

@media screen and (max-width: 1100px) {
    #top h3 {
        padding: 15% 0 5% 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        justify-content: center;
    }
    #top h3 {
        padding: 25% 0 5% 0;
        font-size: 80px;
    }
    .filter ul {
        padding: 15px;
    }
    .jenre {
        padding-bottom: 5%;
    }
}
