@charset 'utf-8';

.kakuu {
    font-size: 12px;
}
#top h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.5rem;
    letter-spacing: -0.06;
    text-align: center;
    padding: 12% 0 3% 0;
}

#top h3 span {
    font-style: italic;
}
.nav {
    width: 32vw;
}
.filter {
    /* width: 32vw; */
    width: fit-content;
    margin: 0 auto;
    border: solid 1px #cccecc;
    border-radius: 50px;
}

.filter ul li {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    white-space: nowrap;
    /* padding: 12% 12%; */
}
.filter p {
    color: #b3b3b3;
    font-size: 1rem;
}
.filter ul {
    display: flex;
    gap: 1.2vw;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.border {
    background-size: 6px 1px;
    background-image: linear-gradient(to right, #4d4d4d 1px, transparent 1px);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom: 2%;
}
.wrap {
    margin: 0 auto;
    width: 73vw;
}
.jenre h5 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5625rem;
    padding-top: 10%;
}

.jenre {
    padding-bottom: 2vw;
}
.container {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}
.box {
    padding-bottom: 10%;
}
.img {
    width: 280px;
    margin-bottom: 5%;
}
.title {
    font-size: 1rem;
}
.container ul li {
    padding-bottom: 3%;
}

.skill {
    color: #4d4d4d;
    font-size: 0.875rem;
}
