@charset 'utf-8';

#website h3 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;
    letter-spacing: -0.06;
    text-align: center;
    padding: 12% 0 3% 0;
}

#website h3 span {
    font-style: italic;
}

.filter {
    width: 32vw;
    margin: 0 auto;
    border: solid 1px #cccecc;
    border-radius: 32px;
}

.filter ul li {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;

    /* padding: 12% 12%; */
}
.filter p {
    color: #b3b3b3;
    font-size: 1vw;
}
.filter ul {
    display: flex;
    gap: 1.2vw;
    align-items: center;
    justify-content: center;
    padding: 4%;
}
.web-wrap {
    margin: 0 auto;
    width: 73vw;
    padding: 5vw 0 5vw 0;
}
.jenre h5 {
    font-family: "cormorant-garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
}
.jenre {
    padding-bottom: 2vw;
}
.web-container {
    display: flex;
}
.web-box1 ul li {
    padding: 2%;
}
.skill {
    color: #4d4d4d;
    font-size: 14px;
}
